// COLORS
$primary-color: #ff6060;
$secondary-color: #f7f7f7;
$tertiary-color: #000000;
$quaternary-color: #FFFFFF;
$background-color: rgba(0, 0, 0, 0.3);
$linear-cards: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);

// IMAGES
$about-background: $background-color url(../../assets/aboutBanner.jpeg);
$home-background: $background-color url(../../assets/images/homeBanner.jpeg);

// BREAKPOINTS
$breakpoint-desktop: 1008px;
