// COLORS
$primary-color: #ff6060;
$secondary-color: #f7f7f7;
$tertiary-color: #000000;
$quaternary-color: #FFFFFF;
$background-color: rgba(0, 0, 0, 0.3);
$linear-cards: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);

// IMAGES
$about-background: $background-color url(../../assets/aboutBanner.png);
$home-background: $background-color url(../../assets/homeBanner.png);

// BREAKPOINTS
$xxxsb: 320px; // small mobile
$xxsb: 375px; // medium mobile
$xsb: 425px; // large mobile
$smb: 768px; // tablet || small desktop
$mdb: 1024px; // medium desktop
$lgb: 1440px; // large desktop
$xlb: 1920px; // FHD desktop
$xxlb: 2560px; // WQHD desktop
$xxxlb: 3840px; // 4K UHD desktop
