.cards {
  @include sm-radius;
  @include f-wrap(wrap, center);
  @include width-height(100%, initial);
  @include margin-padding(22px 0, initial);
  gap: 20px;
  @media screen and (min-width: $mdb) {
    @include lg-radius;
    @include margin-padding(50px 0, initial);
    background-color: $secondary-color;
    gap: 50px;
  }

  &--link {
    @include textDecoration(none);
  }
}
