.banner {
  position: relative;

  &__img {
    @include sm-radius;
    @include width-height(100%, 111px);
    @media screen and (min-width: $mdb) {
      @include lg-radius;
      @include width-height(100%, 223px);
    }
    filter: brightness(0.6);
    object-fit: cover;
  }

  &--shadow {
    @include banner;
  }

  &__text {
    @include f-center(center);
    @include width-height(100%, 100%);
    @include margin-padding(initial, 20px);
    @include font(18px, 700, 24px);
    @media screen and (min-width: $mdb) {
      @include font(32px, 700, 24px);
    }
    @media screen and (min-width: $lgb) {
      @include font(48px, 700, 24px);
    }
    color: $quaternary-color;
    position: absolute;
    top: 0;
  }
}

.banner__text::after {
  @media screen and (max-width: $xxsb) {
    content: '';
    min-width: 30%;
  }
}
