.header {
  display: flex;
  justify-content: space-between;
  margin: 50px 100px;

  &--logo {
		width: 9rem;
		@media screen and (min-width: $breakpoint-desktop) {
			width: 13.2rem;
		}
	}

  &--nav {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    @media screen and (min-width: $breakpoint-desktop) {
      text-transform: none;
    }

    &__link {
      color: $tertiary-color;
      text-decoration: none;
      margin-left: 1rem;
      @media screen and (min-width: $breakpoint-desktop) {
        @include font(24px, 500, 34.22px);
        text-align: right;
        margin-left: 3rem;
      }

      &:hover,
      &:focus {
        text-decoration-line: underline;
      }
    }
  }
}

.active {
  text-decoration-line: underline;
}
