.header {
  display: flex;
  justify-content: space-between;
  margin: 5%;
  @media screen and (min-width: $mdb) {
		margin: 40px 100px;
	}

  &--logo {
    @include width-height(145px, 46.88px);
		@media screen and (min-width: $mdb) {
      @include width-height(210.32px, 68px);
		}
	}

  &--nav {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    @media screen and (min-width: $mdb) {
      text-transform: none;
    }

    &__link {
      @include font(12px, 500, 17.11px);
      color: $tertiary-color;
      margin-left: 10px;
      text-align: right;
      text-decoration: none;
      @media screen and (min-width: $mdb) {
        @include font(24px, 500, 34.22px);
        margin-left: 57px;
      }

      &:hover,
      &:focus {
        text-decoration-line: underline;
      }
    }
  }
}

.active {
  text-decoration-line: underline;
}
